p2 {
    float: left;
    color: blue;
    background-color: chocolate;
}
img {
    float:left;
    width: 100%;
    height: auto;
}
@media screen and (max-width:575.98px){
    p2 {
        font-size: 6;
        background-color: brown;
    }
    img {
        float:left;
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:767.98px) and (min-width:576px) {
    p2 {
        font-size: 5;
        background-color: darkgoldenrod;
    }
    img{
        float:left;
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:991.98px) and (min-width:768px) {
    p2 {
        font-size: 5;
        background-color: darkgrey;
    }
    img{
        float:left;
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:1199.98px) and (min-width:992px) {
    p2 {
        font-size: 5;
        background-color: darkgoldenrod;
    }
    img{
        float:left;
        width:100%;
        height:auto;
    }
}
@media screen and (min-width:1200px) {
    p2 {
        font-size: 5;
        background-color: olive;
    }
    img{
        float:left;
        width:100%;
        height:auto;
    }
}