* {
    margin: 100%;
    padding: 0
}

.home {
    height: 100%;
    overflow: hidden;
}

.content {
    perspective: 340px;
    width: 100%;
    position: relative;
}

span {
    display: block;
    text-align: center;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

@keyframes downs {
    from {
        transform: translateY(0px);
        opacity: .6;
    }
    to {
        transform: translateY(30px);
        opacity: .8;
    }
}

audio {
    position: fixed;
    bottom: 50px;
    right: 0;
}


@keyframes muscis {
    from {
        transform: rotate(0deg);
        opacity: .6;
    }
    to {
        transform: rotate(360deg);
        opacity: .8;
    }
}

@media only screen and (max-width:800px){
    .h1 {
        font-size: 6;
        background-color: brown;
    }
    .home {
        height: 80%;
        overflow: hidden;
    }
    .content {
        position: relative;
        background-color: darkgray;
    }
}
@media only screen and (max-width:500px) {
    .h1 {
        font-size: 5;
        background-color: darkgoldenrod;
    }
    .home {
        height: 50%;
        overflow: hidden;
    }
    .content {
        position: relative;
        background-color: aqua;
    }
}
